h1 {
    font-family: 'Delius Unicase', cursive;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url(https://janinacpb.github.io/GIS-SoSe-2020/Endabgabe/Archiv/hintergrund.jpg);
    background-repeat: repeat;
    background-size: 400px;
}

header {
    height: 500px;
    background-color: thistle;
}