body {
    font-family: 'Open Sans', sans-serif;
    background: url(https://gabriel-rausch.github.io/EIA1-SoSe20/L03/task_material/images/bg.png);
    background-repeat: repeat;
    margin: 0;
}

h1 {
    font-family: 'Delius Unicase', cursive;
}

header {
    height: 300px;
    background-image: url(https://janinacpb.github.io/GIS-SoSe-2020/Endabgabe/Archiv/markise.png);
    background-repeat: repeat-x;
    background-size: 950px;
}

.box {
    width: 95%;
    background-color: wheat;
    margin: 0 auto;
}

.schritt {
    width: 100%;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artikelEis {
    background-color: white;
    color: #ED4659;
    margin: 10px;
    box-sizing: border-box;
}

.eisBild {
    width: 300px;
    display: block;
}

.eisBild + div {
    display: flex;
    justify-content: flex-end;
}

h3 {
    display: inline;
    line-height: 1.9;
    font-size: 18px;
    vertical-align: middle;
    padding-right: 30px;
}

.hinzufuegenEis {
    background-color: #ED4659;
    color: white;
    border: none;
    height: 70px;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}

.hinzufuegenEis:hover {
    background-color:  #c42639;
}

/* FOOTER */
footer {
    background-color: #191516;
    color: white;
    margin: 0 auto;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.socialMedia {
    width: 30px;
    height: 30px;
    padding: 35px 10px 20px 10px;
    filter: grayscale(100%);
}

.socialMedia:hover{
    filter: none;
}

/* fürs erste Element*/
.socialMediaEins{
    margin-left: 10%;
    width: 30px;
    height: 30px;
    padding: 35px 10px 20px 10px;
    filter: grayscale(100%)
}

.socialMediaEins:hover{
    filter: none;
}

.footerfloat {
    padding: 10px 0 50px 160px;
    text-align: center;
}

.footerlink {
    color: white;
}