body {
    font-family: 'Open Sans', sans-serif;
    background: url(https://gabriel-rausch.github.io/EIA1-SoSe20/L03/task_material/images/bg.png);
    background-repeat: repeat;
    margin: 0;
}

header {
    width: 100%;
    height: 105px;
    background-image: url(https://janinacpb.github.io/GIS-SoSe-2020/Endabgabe/Archiv/markise.png);
    background-repeat: repeat-x;
    background-size: 950px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 55px;
    margin-bottom: 50px;
}

nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #8BCC9F;
}

h1 {
    font-family: 'Delius Unicase', cursive;
    font-size: 50px;
}

.anleitung {
    background-image: url(https://janinacpb.github.io/GIS-SoSe-2020/Endabgabe/Archiv/anleitung.png);
    background-repeat: repeat-x;
    margin: 0 2.5%;
    margin-bottom: 20px;
    cursor: default;
}

.anleitung h2 {
    text-align: center;
    font-size: 15px;
    background-color: #8BCC9F;
    color: white;
    letter-spacing: 5px;
    font-weight: lighter;
}

.anleitung p {
    text-align: center;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 5px #191516;
    margin: 0;
}

.kreis {
    width: 120px;
    height: 120px;
    border-radius: 80px;
    text-align: center;
    line-height: 120px;
    font-size: 120px;
    color: white;
    opacity: 0.9;
    margin-top: 5px;
}

.flexbox div:nth-child(odd) .kreis{
    background-color: #ED4659;
}

.flexbox div:nth-child(odd) .kreis:hover{
    background-color: #ffbcc4;
}

.flexbox div:nth-child(even) .kreis{
    background-color: #8BCC9F;
}

.flexbox div:nth-child(even) .kreis:hover{
    background-color: #abf8c2;
}

.eisVorschau {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-image: url('https://janinacpb.github.io/GIS-SoSe-2020/Endabgabe/Archiv/hintergrundPattern.png');
  }

  .vorschauBild {
      position: absolute;
      width: 70px;
      left: 115px;
      top: 180px;
  }

.vBecher {
    top: 240px;
    left: 105px;
    width: 90px;
} 

.vKugel1 {
    top: 140px;
    z-index: 1;
}

.vKugel2 {
    top: 120px;
    z-index: 2;
}

.vKugel3 {
    top: 100px;
    z-index: 3;
}

.vKugel4 {
    top: 80px;
    z-index: 4;
}

.vKugelBecher1 {
    top: 200px;
    left: 100px;
    z-index: 1;
}

.vKugelBecher2 {
    top: 200px;
    left: 140px;
    z-index: 2;
}

.vKugelBecher3 {
    top: 170px;
    left: 110px;
    z-index: 3;
}

.vKugelBecher4 {
    top: 170px;
    left: 130px;
    z-index: 5;
}

img[src="https://janinacpb.github.io/GIS-SoSe-2020/Endabgabe/Archiv/kirsche.png"] {
    width: 25px;
}

.box {
    width: 95%;
    background-color: wheat;
    margin: 0 auto;
}

.schritt {
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    padding-left: 50px;
}

.eins {
    background-image: url(https://janinacpb.github.io/GIS-SoSe-2020/Endabgabe/Archiv/schritt1.png);
}

.zwei {
    background-image: url(https://janinacpb.github.io/GIS-SoSe-2020/Endabgabe/Archiv/schritt2.png);
}

.drei {
    background-image: url(https://janinacpb.github.io/GIS-SoSe-2020/Endabgabe/Archiv/schritt3.png);
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Radio Button*/
.auswahlFormularWaffel {
    flex-wrap: wrap;
    display: flex;
    align-self: auto;
    justify-content: space-between;
}

.radioWaffel {
    margin: 0 auto;
}

input[type='radio'] 
{ transform: scale(2);
margin-top: 13px; 
margin-right: 20px;}

.artikelBox {
    background-color: white;
    color: #ED4659;
    margin: 10px;
    box-sizing: border-box;
}

.artikelBild {
    width: 300px;
    display: block;
}

.artikelBild + div {
    display: flex;
    justify-content: flex-end;
}

h3 {
    display: inline;
    line-height: 1.9;
    font-size: 18px;
    vertical-align: middle;
    padding-right: 30px;
}

.hinzufuegenEis {
    background-color: #ED4659;
    color: white;
    border: none;
    height: 70px;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}

.weiter {
    font-size: 20px;
    background-color: lightslategray;
    color: white;
    border: none;
    padding: 50px;
    font-family: inherit;
    align-self: center;
    margin: 5px;
}

.weiter:hover {
    background-color: lightcoral;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

button:hover {
    cursor: pointer;
}

.versandt{
    padding-left: 10%;
}

.versandt input {
    display: block;
    padding: 5px;
    color: #191516;
    background-color: white;
    border: none;
}

form h3 {
    display: block;
    color: #ED4659;
    line-height: 5px;
}

div ~ button {
    border: none;
    font-size: 25px;
    font-family: inherit;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

/* FOOTER */
footer {
    background-color: #191516;
    color: white;
    margin: 0 auto;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.socialMedia {
    width: 30px;
    height: 30px;
    padding: 35px 10px 20px 10px;
    filter: grayscale(100%);
}

.socialMedia:hover{
    filter: none;
}

footer div {
    padding: 10px 0 50px 0px;
    text-align: center;
}

.footerlink {
    color: white;
}

@media only screen and (max-width: 1024px) {

    header {
        background-image: none;
    }

    nav {
        top: 0;
        margin-bottom: 0;
    }
    
    h1 {
        font-size: 20px;
        color: #ED4659;
    }

    h3 {
        font-size: 15px;
        padding-right: 15px;
    }

    .hinzufuegenEis {
        font-size: 15px;
    }

    .anleitung {
        display: none;
    }

    .eisVorschau {
        width: 200px;
        height: 200px;
    }

  .vorschauBild {
      width: 40px;
      left: 85px;
  }

  .artikelBild {
      width: 200px;
  }

  .weiter {
    padding: 10px;
  }

  .vWaffel{
      top: 130px;
  }

  .vBecher {
      width: 60px;
      top: 150px;
      left: 75px;
  }

  .vKugel1 {
    top: 110px;
    z-index: 1;
}

.vKugel2 {
    top: 95px;
    z-index: 2;
}

.vKugel3 {
    top: 80px;
    z-index: 3;
}

.vKugel4 {
    top: 65px;
    z-index: 4;
}

.vKugelBecher1 {
    top: 130px;
    left: 70px;
    z-index: 1;
}

.vKugelBecher2 {
    top: 130px;
    left: 100px;
    z-index: 2;
}

.vKugelBecher3 {
    top: 110px;
    left: 80px;
    z-index: 3;
}

.vKugelBecher4 {
    top: 110px;
    left: 95px;
    z-index: 5;
}

}

@media only screen and (max-width: 600px) { 
    .socialMedia {
        display: none;
    }
    
    footer div {
        padding: 10px 0 10px 0;
    }
    
    .artikelBild {
        display: none;
    }

    .hinzufuegenEis {
        padding: 5px;
        height: inherit;
    }

    textarea {
        width: 80%;
    }

    nav a {
        font-size: 15px;
    }

    h1 {
        font-size: 15px;
    }

   form h3 {
        line-height: 15px;
    }

    h3 {
        display: block;
        text-align: center;
    }

    .schritt {
        font-size: 25px;
    }

    .flexbox {
        display: block;
    }

    .auswahlFormularWaffel {
        display: block;
    }

    .artikelBox {
        width: 95%;
    }

    .eisVorschau {
        margin: auto;
    }

}